html, body{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: sans-serif;
}
svg{
	max-width: 100%;
}

.wrapper{ 
	min-height: 100%;

	/* &:after{*/
	/* 	content:"";*/
	/* 	display: block;*/
	/* 	height: 50px;*/
	/* }*/
}

.content{
	margin: 0 auto;
	padding: 0;
}

/*container setups*/

/* @media (max-width: 1200px) {//desctop
	.content{
		width: 970px;
	}
}

@media (max-width: 992px) {//laptop
	.content{
		width: 750px;
	}
}

@media (max-width: 768px) {//tablets
	.content{
		width: 480px;
	}
}

@media (max-width: 480px) {//mobile
	.content{
		width: auto;
	}
} */

/*colors*/


