.cook_container{
	background: white;
}
.cook{
	margin-top: 20px;
	.content_width;	
	margin: 0 auto;
	min-height: 1040px;
}
.cook_title{
	.malina;
	font-size: 72px;
	color: blue;
	width: 40%;
	margin: 0;
}
.cook_desc{
	width: 32%;
	color: @grey;
}