//styles
@import "fonts/malina-fonts/stylesheet.less";
@import "normalize.less";
@import "_miscs.less";
@import "adjastments.less";
@import "sweet.less";
@import "cook.less";
@import "range.less";

//colors

@red: #bb2b31;//#a5151b
@light-red:#d43a3c;
@yellow: #fca211;
@dark-yellow: #641a00;
@grey:#575757;
@dark-grey:#656464;
@dark-blue:#2b2f5f;
@light-grey:#c9c8c7;
@grey-text:#747474;

