@font-face {
  font-family: 'Malina';
  src: url("fonts/malina-fonts/ALSMalina.woff2") format("woff2"), url("fonts/malina-fonts/ALSMalina.woff") format("woff"), url("fonts/malina-fonts/ALSMalina.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
